{% extends "base.html" %}


{% block content %}
    <section class="page-section about-heading">
      <div class="container">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="app/img/focalpoint03_header.jpg" alt="">
        <div class="about-heading-content">
          <div class="row">
            <div class="col-xl-9 col-lg-10 mx-auto">
              <div class="bg-faded rounded p-5">
                <h2 class="section-heading mb-4">
                  <span class="section-heading-upper">Focal Point</span>
                  <span class="section-heading-lower">Our Goals</span>
                </h2>
                <p>Focal Point is Kent State's student photography club. We are open to all students with an interest in photography and meet a few times every month.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}