{% extends "base.html" %}

{% block content %}

   <section class="page-section cta">
            <div class="container">
              <div class="row">
                <div class="col-xl-12 mx-auto">
                  <div class="cta-inner text-center rounded" style="pointer-events:none;">
                    <h2 class="section-heading mb-5">
                      <span class="section-heading-upper">Student-Alumni Network</span>
                      <span class="section-heading-lower">Directory</span>
                    </h2>
                    <div class="divTable">
                      <div class="divTableBody">
                        <div class="divTableRow">
                          <div class="divTableCell headerLabel" style="text-align:center; width: 40%;">Filters</div>
                          <div class="divTableCell" style="width: 10%;"></div>
                          <div class="divTableCell headerLabel" style="text-align:center;"0>User List</div>
                        </div>
                        <div class="divTableRow">
                          <form class="divTableCell" id="filters" style=" width: 40%; pointer-events: auto; padding: 5px; max-height: 225px; border: 1px solid grey; box-shadow: 5px 7px #c8c8c885;">
                            <div class="filterLabel filterInput">First name: <input class="filterInput" type="text" name="FirstName" placeholder="First Name"></div>
                            <div class="filterLabel filterInput">Last name: <input class="filterInput" type="" name="LastName" placeholder="Last Name"></div>
                            <div class="filterLabel filterInput">Photo Interests: 
                              <select class="filterInput" id="photoInterests">
                                <option value="default" selected>Choose an option...</option>
                                <option value="nature">Nature</option>
                                <option value="cars">Cars</option>
                                <option value="music">Music</option>
                                <option value="people">People</option>
                              </select>
                              </div>
                            <div class="filterLabel">Student <input type="checkbox" id="studentCkBox"> 
                             Alumni <input type="checkbox" id="alumniCkBox">
                             Faculty <input type="checkbox" id="facultyCkBox">
                            </div>
                            <div style="text-align: right;"><input type="submit" value="Submit"></div>
                          </form>
                          <div class="divTableCell" style="width: 10%;"></div>
                          <div class="divTableCell" id="userList" style="width: 30%; text-align: left;">
                            <ul id="user-list" style="list-style-type: none;"></ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
		  
    <script src="app/js/directory.js"></script>

    <style>
      .divTable{ display: table; width: 100%; }
      .divTableRow { display: table-row; }
      .divTableHeading { display: table-header-group;}
      .divTableCell, .divTableHead { display: table-cell;}
      .divTableBody { display: table-row-group;}
      .filterLabel { font-weight: bold; pointer-events: auto; text-align: left; }
      .filterInput { padding: 3 0 3 0; }
      .headerLabel { font-size: larger; font-weight: bold; }
    </style>

{% endblock %}