{% extends "base.html" %}

{% block content %}

   <section class="page-section cta">
            <div class="container">
              <div class="row">
                <div class="col-xl-12 mx-auto">
                  <div class="cta-inner text-center rounded" style="pointer-events:none;">
                    <h2 class="section-heading mb-5">
                      <span class="section-heading-upper">Student-Alumni Network</span>
                      <span class="section-heading-lower">Directory</span>
                    </h2>
                    <div class="divTable">
                      <div class="divTableBody">
                        <div class="divTableRow">
                          <div class="divTableCell headerLabel" style="text-align:center; width: 40%;">Filters</div>
                          <div class="divTableCell" style="width: 10%;"></div>
                          <div class="divTableCell headerLabel" style="text-align:center;"0>User List</div>
                        </div>
                        <div class="divTableRow">
                          <div class="divTableCell" id="filters" style="background: floralwhite; width: 40%; pointer-events: auto; padding: 5px; max-height: 225px; border: 1px solid grey; box-shadow: 5px 7px #c8c8c885;">
                            <div class="filterLabel filterInput">First Name: <input class="filterInput" type="text" id="FirstName" placeholder="First Name"></div>
                            <div class="filterLabel filterInput">Last Name: <input class="filterInput" type="text" id="LastName" placeholder="Last Name"></div>
                            <div class="filterLabel filterInput">Photo Interests: 
                              <select class="filterInput" id="photoInterests">
                                <option value="default" selected>Choose an option...</option>
                                <option value="Architecture">Architecture</option>
                                <option value="Conceptual">Conceptual</option>
                                <option value="Documentary">Documentary</option>
                                <option value="Event">Event</option>
                                <option value="Fashion">Fashion</option>
                                <option value="Fine Art">Fine Art</option>
                                <option value="Landscape">Landscape</option>
                                <option value="Marketing">Marketing</option>
                                <option value="Music/Concert">Music/Concert</option>
                                <option value="Photojournalism">Photojournalism</option>
                                <option value="Photo Illustration">Photo Illustration</option>
                                <option value="Photo Editing">Photo Editing</option>
                                <option value="Portrait">Portrait</option>
                                <option value="Sports/Action">Sports/Action</option>
                                <option value="Street">Street</option>
                                <option value="Studio">Studio</option>
                                <option value="Wildlife">Wildlife</option>
                              </select>
                              </div>
                            <div class="filterLabel">Students <input type="checkbox" id="studentChkBox" checked="checked" style="margin-right: 10px; vertical-align: middle;"> 
                             Alumni <input type="checkbox" id="alumniChkBox" checked="checked" style="margin-right: 10px; vertical-align: middle;">
                             Faculty <input type="checkbox" id="facultyChkBox" checked="checked" style="vertical-align: middle;">
                            </div>
                            <div style="text-align: right; padding: 3px;"><button id="clearFiltersBtn" type="submit" style="margin-right: 4px;">Clear All</button><button id="filterBtn" type="submit">Apply</button></div>
                            </div>
                          <div class="divTableCell" style="width: 10%;"></div>
                          <div class="divTableCell" id="userList" style="width: 50%; text-align: left;">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
		  
    <script src="app/js/directory.js"></script>

    <style>
      .divTable{ display: table; width: 100%; }
      .divTableRow { display: table-row; }
      .divTableHeading { display: table-header-group;}
      .divTableCell, .divTableHead { display: table-cell;}
      .divTableBody { display: table-row-group;}
      .filterLabel { font-weight: bold; pointer-events: auto; text-align: left; }
      .filterInput { padding: 3 0 3 0; }
      .headerLabel { font-size: larger; font-weight: bold; }
    </style>

{% endblock %}