{% extends "base.html" %}

{% block content %}

   <section class="page-section cta">
            <div class="container">
              <div class="row">
                <div class="col-xl-12 mx-auto">
                  <div class="cta-inner text-center rounded" style="pointer-events:none;">
                    <h2 class="section-heading mb-5">
                      <span class="section-heading-upper">Student-Alumni Network</span>
                      <span class="section-heading-lower">Directory</span>
                    </h2>
                    <div class="divTable">
                      <div class="divTableBody">
                        <div class="divTableRow">
                          <form class="divTableCell" id="filters" style="text-align: left; width: 40%; pointer-events: auto;">
                            <div id="filterLabel">First name: <input type="text" name="FirstName" value="First Name"></div>
                            <div id="filterLabel">Last name: <input type="text" name="LastName" value="Last Name"></div>
                            <div id="filterLabel">Photo Interests: <input type="text"></div>
                            <div id="filterLabel">Student <input type="checkbox" id="studentCkBox"></div>
                            <div id="filterLabel">Alumni <input type="checkbox" id="alumniCkBox"></div>
                            <div id="filterLabel">Faculty <input type="checkbox" id="facultyCkBox"></div>
                            <div id="filterLabel"><input type="submit" value="Submit" style="text-align: right;"></div>
                          </form>
                          <div class="divTableCell" style="width: 10%;"></div>
                          <div class="divTableCell" id="userResults" style="width: 30%;">
                            <ul id="user-list"></ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
		  
    <script src="app/js/directory.js"></script>
    <style>
        .hide {
            visibility: hidden;
        }
        .filterLabel { font-size: initial; font-weight: bold; padding: 3 0 3 0; pointer-events: auto; }
    </style>

{% endblock %}