{% extends "base.html" %}


{% block content %}
	<script src = "jquery-3.0.0.min.js"></script>
    <section class="page-section cta">
            <div class="container">
              <div class="row">
                <div class="col-xl-12 mx-auto">
                  <div class="cta-inner text-center rounded" style="pointer-events:none;">
                    <h2 class="section-heading mb-5">
                      <span class="section-heading-upper">Student-Alumni Network</span>
                      <span class="section-heading-lower">Messages</span>
                    </h2>
					<p class="address mb-5">
						<em>
						<strong>Connected User List</strong>
						</em>
					</p>
					<ul class ="list-group" id = "connected-user-list"></ul>
					<p class="address mb-5">
						<em>
						<strong>Connected Friends List</strong>
						</em>
					</p>
					<div class ="friend-list" id = "connected-friends-list"></div>
					<script>
						$(".friend-list button".click( function(){
							alert( "triggered by " + $(this).text() );
							});
				  </div>
                </div>
              </div>
            </div>
          </section>
		  
    <script src="app/js/messagesmain.js"></script>
    <style>
        .hide {
            visibility: hidden;
        }
    </style>

{% endblock %}