<script>
    // Initialize Firebase
    if (!firebase.app.length)
    {
        var config = {
        apiKey: "AIzaSyCEuT1gco387t16C2IAmN2bx5bt-n6ea6s",
        authDomain: "focal-point-student-alumni-net.firebaseapp.com",
        databaseURL: "https://focal-point-student-alumni-net.firebaseio.com",
        projectId: "focal-point-student-alumni-net",
        storageBucket: "focal-point-student-alumni-net.appspot.com",
        messagingSenderId: "1002904582612"
        }
    firebase.initializeApp(config);
    }

    if (firebase.auth().currentUser)
    {
        $.post("jsLogin", userInstance, function(){
        });
        event.preventDefault();
    }
    else
    {
        $.post("jsLogout", userInstance, function(){
        });
        event.preventDefault();
    }
</script>