{% extends "base.html" %}


{% block content %}
    <section class="page-section cta">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 mx-auto">
                        <div class="cta-inner text-center rounded" style="pointer-events:none;">
                            <h2 class="section-heading mb-5">
                            <span class="section-heading-upper">Student-Alumni Network</span>
                            <span class="section-heading-lower">Profile</span>
                            </h2>
                            <div class="divTable">
                                <div class="divTableBody">
                                    <div class="divTableRow">
                                        <div class="divTableCell" style="width: 210px; height: 200px; text-align: left;">
                                            <img src="app/img/default-avatar.png"/>
                                        </div>
                                        <div class="divTableCell" style="text-align: left; vertical-align: top; padding: 0 0 0 10; background: white;">
                                            <div class="bioHeader" id="name">Andrew Mis</div>
                                            <div class="bioLabel">Major: <span class="labelValue" id="major">Computer Science</span></div>
                                            <div class="bioLabel">Minor: <span class="labelValue" id="minor">Italian</span></div>
                                            <div class="bioLabel">Graduation: <span class="labelValue" id="graduation">2019</span></div>
                                            <p></p>
                                            <div class="bioLabel">Email: <span class="labelValue" id="email">amis@kent.edu</span></div>
                                            <div class="bioLabel">Website: <a class="labelValue" id="website" href="http://www.urbanvirtues.com" style="pointer-events: auto;">www.urbanvirtues.com</a></div>
                                            <div id="socialmedia" style="padding: 5 0 5 0;">
                                                    <a class="btnSocialMedia" href="https://www.facebook.com/groups/1498559753764185/" style="pointer-events: auto; font-size: 2em; color:rgba(33, 37, 41); vertical-align: middle;"><i class="fab fa-facebook-square"></i></a>
                                                    <a class="btnSocialMedia" href="https://instagram.com/KSUFocalPoint" style="pointer-events: auto; font-size: 2em; color:rgba(33, 37, 41); vertical-align: middle;"><i class="fab fa-instagram"></i></a>
                                                    <a class="btnSocialMedia" href="https://twitter.com/KSUFocalPoint" style="pointer-events: auto; font-size: 2em; color:rgba(33, 37, 41); vertical-align: middle;"><i class="fab fa-twitter-square"></i></a>
                                                    <button id="btnMessage" type="submit" style="vertical-align: middle; pointer-events: auto;">Send Message</button>
                                            </div>
                                        </div>
                                        <div class="divTableCell" style="text-align: right; vertical-align: top; background: white;">
                                            <button class="btnBlock"><i class="fa fa-ellipsis-h" style="font-size: 24px; color:gray;"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="divTable">
                                <div class="divTableBody">
                                    <div class="divTableRow">
                                        <div class="divTableCell" style="text-align: left; padding: 0 10% 0 0; width: 50%; background: white;">
                                            <div class="bioHeader" style="text-align: center;">About Me</div>
                                            <div style="width: 80%;">
                                                <p>Text here........</p>
                                            </div>
                                        </div>
                                        <div class="divTableCell" style="text-align: right; background: white;">
                                                <div class="bioHeader" style="text-align: center;">Interests</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </section>

    <style>
    .divTable{ display: table; width: 100%; }
    .divTableRow { display: table-row; }
    .divTableHeading { display: table-header-group;}
    .divTableCell, .divTableHead { display: table-cell;}
    .divTableHeading { display: table-header-group;}
    .divTableFoot { display: table-footer-group;}
    .divTableBody { display: table-row-group;}
    .bioHeader { font-size: larger; font-weight: bold; font-family: sans-serif; }
    .bioLabel { font-size: initial; font-weight: bold; }
    .labelValue { font-weight: normal; }
    .btnSocialMedia {padding: 0 5px; }
    .btnBlock { background-color: Transparent; background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden; outline:none; padding-right: 8px; pointer-events: auto;}
    </style>
{% endblock %}