{% extends "base.html" %}


{% block content %}
    <head>
        <script src="https://www.gstatic.com/firebasejs/5.5.5/firebase.js"></script>
    </head>

    <section class="page-section cta">
            <div class="container">
              <div class="row">
                <div class="col-xl-12 mx-auto">
                  <div class="cta-inner text-center rounded" style="pointer-events:none;">
                    <h2 class="section-heading mb-5">
                      <span class="section-heading-upper">Student-Alumni Network</span>
                      <span class="section-heading-lower">Member Signup</span>
                    </h2>
                        <div class="form-group" style="width: 35%; pointer-events: auto; margin: 0 auto; display: flex;">
                            <div style="flex: 0 0 30%; text-align: left;">
                                <label for="user_firstName">Name:</label>
                                <br>
                                <label for="user_LastName">&nbsp;</label>
                                <br>
                                <label for="user_type_combobox">User Type:</label>
                                <br>
                                <label for="user_email">Email:</label>
                                <br>
                                <label for="user_password">Password:</label>
                                <br>
                                <label for="user_password">Re-enter:</label>
                              </div>
                            
                              <div style="text-align: left;">
                                  <input id="txtFirstName" type="text" placeholder="First Name" name="first_name" required="true">
                                  <input id="txtLastName" type="text" placeholder="Last Name" name="last_name" required="true">
                                  <br>
                                  <select id="user_type_selection">
                                  <option value="1" selected>Student</option>
                                  <option value="2">Alumni</option>
                                  <option value="3">Faculty</option>
                                </select>
                                <br>
                                <input id="txtEmail" type="text" placeholder="Email" name="email" required="true">
                                <br>
                                <input id="txtPassword" type="password" placeholder="Password" name="psw" required="true">
                                <br>
                                <input id="txtPassword2" type="password" placeholder="Password" name="psw" required="true">
                                <br>
                                <button id="btnSignup" type="submit">Register</button>
                              </div>
                        </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

    <script src="app/js/createUser.js"></script>
    <script src="app/bootstrap/vendor/jquery/jquery.min.js"></script>
    <style>
        .hide {
            visibility: hidden;
        }
        label {
        display: inline-block;
            padding-top: 3px;
        }
        input, select, button {
            margin-top: 5px;
        }
    </style>

{% endblock %}