{% extends "base.html" %}


{% block content %}
    <head>
        <script src="https://www.gstatic.com/firebasejs/5.5.5/firebase.js"></script>
    </head>

    <section class="page-section cta">
            <div class="container">
              <div class="row">
                <div class="col-xl-12 mx-auto">
                  <div class="cta-inner text-center rounded" style="pointer-events:none;">
                    <h2 class="section-heading mb-5">
                      <span class="section-heading-upper">Student-Alumni Network</span>
                      <span class="section-heading-lower">Member Signup</span>
                    </h2>
                        <div class="form-group" style="pointer-events: auto;">
                            <label for="user_name">Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                            <input id="txtFirstName" type="text" placeholder="First Name" name="first_name" required="true">
                            <input id="txtLastName" type="text" placeholder="Last Name" name="last_name" required="true"><br>
                            <label for="user_type_combobox">User Type:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                            <select name="user_type_selection">
                                <option value="1" selected>Student</option>
                                <option value="2">Alumni</option>
                                <option value="3">Faculty</option>
                            </select>
                            <br>
                            <label for="user_email">Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                            <input id="txtEmail" type="text" placeholder="Email" name="email" required="true">
                            <br>
                            <label for="user_password">Password:</label>
                            <input id="txtPassword" type="password" placeholder="Password" name="psw" required="true">
                            <br>
                            <label for="user_password">Re-enter Password:</label>
                            <input id="txtPassword2" type="password" placeholder="Password" name="psw" required="true">
                            <br>
                            <button id="btnSignup" type="submit">Register</button>
                        </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

    <script src="app/js/createUser.js"></script>
    <style>
        .hide {
            visibility: hidden;
        }
    </style>

{% endblock %}