{% extends "base.html" %}


{% block content %}
    <head>
        <script src="https://www.gstatic.com/firebasejs/5.5.5/firebase.js"></script>
    </head>

    <section class="page-section cta">
            <div class="container">
              <div class="row">
                <div class="col-xl-12 mx-auto">
                  <div class="cta-inner text-center rounded" style="pointer-events:none;">
                    <h2 class="section-heading mb-5">
                      <span class="section-heading-upper">Student-Alumni Network</span>
                      <span class="section-heading-lower">Member Signup</span>
                    </h2>
                    <div class="form-group" style="pointer-events: auto;">
                        <label for="user_name">Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                        <input id="txtEmail" type="text" placeholder="Email" name="email" required="true">
                    <br>
                        <label for="user_password">Password:</label>
                        <input id="txtPassword" type="password" placeholder="Password" name="psw" required="true">
                        <br>
                        <button id="btnSignup" type="submit">Register</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

    <script src="app/js/createUser.js"></script>
    <style>
        .hide {
            visibility: hidden;
        }
    </style>

{% endblock %}