{% extends "base.html" %}


{% block content %}

    <section class="page-section cta">
        <div class="container">
          <div class="row">
            <div class="col-xl-12 mx-auto">
              <div class="cta-inner text-center rounded" style="pointer-events:none;">
                <h2 class="section-heading mb-5">
                  <span class="section-heading-upper">Student-Alumni Network</span>
                  <span class="section-heading-lower">Reset Password</span>
                </h2>
                <div style="width: 35%; text-align: center; margin: 0 auto;">
                  To reset your password, enter the email associated with the account. Once submitted, an email will be sent to you with a link to reset the account's password.
                </div>
                <br>
                <div class="form-group" style="width: 35%; pointer-events: auto; margin: 0 auto; display: flex;">
                  <div style="flex: 0 0 30%; text-align: left;">
                    <label for="user_email">Email:</label>
                  </div>
                  <div style="text-align: left;">
                    <input id="txtEmail" type="text" placeholder="Email" name="email" required="true">
                    <br>
                    <button id="btnReset" type="submit" style="margin-top: 5px;">Reset</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>

    <script type="text/javascript" src="app/js/reset.js"></script>

{% endblock %}
