{% extends "base.html" %}


{% block content %}

    <section class="page-section cta">
            <div class="container">
              <div class="row">
                <div class="col-xl-12 mx-auto">
                  <div class="cta-inner text-center rounded" style="pointer-events:none;">
                    <h2 class="section-heading mb-5">
                      <span class="section-heading-upper">Student-Alumni Network</span>
                      <span class="section-heading-lower">Reset Password</span>
                    </h2>
					<p class="address mb-5">
						<em>
						<strong>This is not the password reset you are looking for...</strong>
						</em>
					</p>
                  </div>
                </div>
              </div>
            </div>
          </section>
    <script src="app/js/reset.js"></script>
    <style>
        .hide {
            visibility: hidden;
        }
    </style>

{% endblock %}
