{% extends "base.html" %}


{% block content %}
    <section class="page-section about-heading">
      <div class="container">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="app/img/twitter.png" alt="">
        <div class="about-heading-content">
          <div class="row">
            <div class="col-xl-9 col-lg-10 mx-auto">
              <div class="bg-faded rounded p-5">
                <h2 class="section-heading mb-4">
                  <span class="section-heading-upper">Focal Point</span>
                  <span class="section-heading-lower">Twitter</span>
                </h2>
                <p>Photography club at Kent State University. We are open to all students with an interest in photography and meet a few times every month for photo outings, training events and workshops.</p>
                <!--<p class="mb-0">We guarantee that you will fall in <em>lust</em> with our decadent blends the moment you walk inside until you finish your last sip. Join us for your daily routine, an outing with friends, or simply just to enjoy some alone time.</p>-->
                <a class="nav-link text-uppercase text-expanded" id="instagram" href="https://www.instagram.com/ksu.focalpoint/">Instagram</a>
                <a class="nav-link text-uppercase text-expanded" id="twitter" href="https://twitter.com/KSUFocalPoint">Twitter</a>
            </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}