{% extends "base.html" %}


{% block content %}
    <section class="page-section about-heading">
            <div class="container">
              <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="app/img/socialMediaHeader.jpg" alt="">
              <div class="about-heading-content">
                <div class="row">
                  <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5">
                      <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Focal Point</span>
                        <span class="section-heading-lower">Social Media</span>
                      </h2>
                      <p>
                        <span style="font-size: 80px;">
                          <i class="fab fa-twitter-square" href="https://www.instagram.com/ksu.focalpoint/"></i>
                        </span>
                      </p>                      
                      </div>
                  </div>
                </div>
              </div>
            </div>
        </section>
        <br>
<!--
        <section class="page-section about-heading">
                <div class="container">
                  <div class="about-heading-content">
                    <div class="row">
                      <div class="col-xl-9 col-lg-10 mx-auto">
                        <div class="bg-faded rounded p-5">
                          <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">Focal Point</span>
                            <span class="section-heading-lower">Twitter</span>
                          </h2>
                          <p>Additional twitter information here...</p>
                          <br>
                          <p>
                          <a href="https://twitter.com/KSUFocalPoint?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @KSUFocalPoint</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                          </p>
                          <a class="twitter-timeline" data-theme="dark" href="https://twitter.com/KSUFocalPoint?ref_src=twsrc%5Etfw">Tweets by KSUFocalPoint</a> 
                          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
-->
{% endblock %}