{% extends "base.html" %}

{% block content %}

    <section class="page-section cta">
            <div class="container">
              <div class="row">
                <div class="col-xl-12 mx-auto">
                  <div class="cta-inner text-center rounded" style="pointer-events:none;">
                    <h2 class="section-heading mb-5">
                      <span class="section-heading-upper">Focal Point</span>
                      <span class="section-heading-lower">Sign Up for our Mailing List</span>
                    </h2>
                    
                    <div class="form-group" style="width: 35%; pointer-events: auto; margin: 0 auto; display: flex;">
                      <div style="flex: 0 0 30%; text-align: left;">
                          <label for="user_firstName">Name:</label>
                          <br>
                          <label for="user_LastName">&nbsp;</label>
                          <br>
                          <label for="user_email">Email:</label>
                          <br>
                        </div>
                      
                        <div style="text-align: left;">
                          <input id="txtFirstName" type="text" placeholder="First Name" name="first_name" required="true">
                          <input id="txtLastName" type="text" placeholder="Last Name" name="last_name" required="true">
                          <br>
                          <input id="txtEmail" type="text" placeholder="example@kent.edu" name="email" required="true">
                          <br>
                          <button id="btnSignup" type="submit">Register</button>
                        </div>
                    </div>

                    <p class="mb-0">
                      <small>
                        <em>Follow us on social media</em>
                      </small>
                      <br>
                    </p>
                    <a href="https://www.facebook.com/groups/1498559753764185/" style="pointer-events: auto; font-size: 2em; color:rgba(33, 37, 41);"><i class="fab fa-facebook-square"></i></a>
                    <a href="https://www.instagram.com/ksu.focalpoint/" style="pointer-events: auto; font-size: 2em; color:rgba(33, 37, 41);"><i class="fab fa-instagram"></i></a>
                    <a href="https://twitter.com/KSUFocalPoint" style="pointer-events: auto; font-size: 2em; color:rgba(33, 37, 41);"><i class="fab fa-twitter-square"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <script src="app/js/mailingList.js"></script>

{% endblock %}