{% extends "base.html" %}

{% block content %}

    <section class="page-section cta">
            <div class="container">
              <div class="row">
                <div class="col-xl-12 mx-auto">
                  <div class="cta-inner text-center rounded" style="pointer-events:none;">
                    <h2 class="section-heading mb-5">
                      <span class="section-heading-upper">Focal Point</span>
                      <span class="section-heading-lower">Sign Up for our Mailing List</span>
                    </h2>
                    <div class="form-group" style="pointer-events: auto;">
                        <label for="user_name">Name:</label>
                        <input type="text" id="user_name" required="true">
                    <br>
                        <label for="user_email">Email:&nbsp;</label>
                        <input type="email" id="user_email" required="true">
                        <br>
                        <button type="submit">Submit</button>
                    </div>
                    <p class="mb-0">
                      <small>
                        <em>Follow us on social media</em>
                      </small>
                      <br>
                    </p>
                    <a href="https://www.facebook.com/groups/1498559753764185/" style="pointer-events: auto; font-size: 2em; color:rgba(33, 37, 41);"><i class="fab fa-facebook-square"></i></a>
                    <a href="https://www.instagram.com/ksu.focalpoint/" style="pointer-events: auto; font-size: 2em; color:rgba(33, 37, 41);"><i class="fab fa-instagram"></i></a>
                    <a href="https://twitter.com/KSUFocalPoint" style="pointer-events: auto; font-size: 2em; color:rgba(33, 37, 41);"><i class="fab fa-twitter-square"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </section>


   <!-- <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Our Promise</span>
                <span class="section-heading-lower">To You</span>
              </h2>
              <p class="mb-0">When you walk into our shop to start your day, we are dedicated to providing you with friendly service, a welcoming atmosphere, and above all else, excellent products made with the highest quality ingredients. If you are not satisfied, please let us know and we will do whatever we can to make things right!</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  -->

{% endblock %}