{% extends "base.html" %}

{% block content %}
<!--
    <section class="page-section">
      <div class="container">
        <div class="product-item">
          <div class="product-item-title d-flex">
            <div class="bg-faded p-5 d-flex ml-auto rounded">
              <h2 class="section-heading mb-0">
                <span class="section-heading-upper">I don't use a camera, because I have an iphone.</span>
                <span class="section-heading-lower">Melanie Nesteruk</span>
              </h2>
            </div>
          </div>
          <a href="http://www.nesterukphotography.com">
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="app/img/products-01.jpg" alt="">
          </a>
          <div class="product-item-description d-flex mr-auto">
            <div class="bg-faded p-5 rounded">
              <p class="mb-0">Some other stuff about a story</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  -->

    <section class="page-section">
      <div class="container">
        <div class="product-item">
          <div class="product-item-title d-flex">
            <div class="bg-faded p-5 d-flex mr-auto rounded">
              <h2 class="section-heading mb-0">
                <span class="section-heading-upper">Carter Adams</span>
                <span class="section-heading-lower">Conflict Photography Workshop</span>
              </h2>
            </div>
          </div>
          <a href="http://cartereugeneadams.com/blog/">
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="app/img/adams_spain.jpg" alt="">
          </a>
          <div class="product-item-description d-flex ml-auto">
            <div class="bg-faded p-5 rounded">
              <p class="mb-0">Workshop teaching photography students about how to cover war and conflict photography</p>
            </div>
          </div>
        </div>
      </div>
    </section>
<!--
    <section class="page-section">
      <div class="container">
        <div class="product-item">
          <div class="product-item-title d-flex">
            <div class="bg-faded p-5 d-flex mr-auto rounded">
              <h2 class="section-heading mb-0">
                <span class="section-heading-upper">Devon Keller</span>
                <span class="section-heading-lower">Kick ass concert photos</span>
              </h2>
            </div>
          </div>
          <a href="https://www.devonkellerphotography.com/concert/">
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="app/img/products-03.jpg" alt="">
          </a>
          <div class="product-item-description d-flex ml-auto">
            <div class="bg-faded p-5 rounded">
              <p class="mb-0">all the music</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  -->

    <section class="page-section">
      <div class="container">
        <div class="product-item">
          <div class="product-item-title d-flex">
            <div class="bg-faded p-5 d-flex mr-auto rounded">
              <h2 class="section-heading mb-0">
                <span class="section-heading-upper">Nathaniel Bailey</span>
                <span class="section-heading-lower">3700 Miles: Passing Through</span>
              </h2>
            </div>
          </div>
          <a href="https://www.nbaileyphotography.com/3700miles/">
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="app/img/bailey_3700miles.jpg" alt="">
          </a>
          <div class="product-item-description d-flex mr-auto">
            <div class="bg-faded p-5 rounded">
              <p class="mb-0">Personal project documenting a cross country bike trip</p>
            </div>
          </div>
        </div>
      </div>
    </section>
<!--
    <section class="page-section">
      <div class="container">
        <div class="product-item">
          <div class="product-item-title d-flex">
            <div class="bg-faded p-5 d-flex mr-auto rounded">
              <h2 class="section-heading mb-0">
                <span class="section-heading-upper">Zac Popik</span>
                <span class="section-heading-lower">Behind the Scenes</span>
              </h2>
            </div>
          </div>
          <a href="http://www.zachary-popik.com/">
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="app/img/products-03.jpg" alt="">
          </a>
          <div class="product-item-description d-flex ml-auto">
            <div class="bg-faded p-5 rounded">
              <p class="mb-0">Hollywood</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  -->

{% endblock %}
